body {
    background-image: url('../images/welcome_bk_xty.jpg');
    background-repeat: no-repeat;
    background-size: 1800px 1000px;
    background-position: center 80px;
    background-attachment: fixed;
}